body {
    padding-top: 110px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: poppins;
    background-color: #0b1215;
    margin-left: auto;
    margin-right: auto;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(244, 244, 244);
    font-family: poppins;
    font-size: clamp(1.25rem, 2vw, 1rem);
}
header {
    font-size: clamp(1rem, 2vw, 1.9rem);
    font-weight: 800;
}
.header h3 {
    font-weight: 400;
    margin: 10px 20px;
}

.containerCard h4 {
    font-size: clamp(1rem, 2vw, 1.4rem);
    margin: 10px 20px;
}

.containerCard, .containerCard1, .finishWork {
    margin: 20px 30px;
    color: rgb(244, 244, 244);
}
.title, .containerCard h2 {
    margin-top: 25px;
    color: rgb(244, 244, 244);
    font-family: poppins;
    font-size: clamp(1rem, 2vw, 1.5rem);
}
.containerCard p {
    text-align: center;
    margin: 20px;
    color: rgb(244, 244, 244);
    font-size: clamp(1rem, 2vw, 1.2rem);
}
.containerCard ol, .containerCard li {
    font-size: clamp(.9rem, 2vw, 1.2rem);
    padding: 10px 40px;
    color: rgb(244, 244, 244);
}
a {
    text-decoration: none;
    color: rgb(244, 244, 244);
    font-size: clamp(1rem, 2vw, 1.2rem);
    text-align: center;
    margin: 5px;
}
.containerCard1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.finishWork{
    display: flex;
    flex-direction: column;
    color: rgb(244, 244, 244);
    font-family: poppins;
    font-size: clamp(.8rem, 2vw, 1rem);
    background: #5e5e5e;
    padding: 20px;
    border: 2px solid #747474;
    background: linear-gradient(135deg, rgba(94, 94, 94, 0.1),  rgb(94, 94, 94, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px #ababab;
    transition-duration: 0.3s;

}
.finishWork > a{
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    transition: ease .5s;
}
